<!DOCTYPE html>
<html>

<head>
  <title>base_eel_app</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" type="text/css" href="../libs/bootstrap-5.2.1-dist/css/bootstrap.min.css">
  <!-- DATATABLES  -->
  <link rel="stylesheet" type="text/css" href="../libs/DataTables/datatables.min.css"/>
</head>
<body>


    {% block content %}
    {% endblock %}
  

  
  <!-- необходима для работы EEl -->
  <script type="text/javascript" src="../eel.js"></script>
  <!-- jQuerry -->
  <script type="text/javascript" src="../libs/jQuery/jquery-3.6.1.min.js"></script>
  <!-- DATATABLES -->
  <script type="text/javascript" src="../libs/DataTables/datatables.min.js"></script>
  <!-- Bootstrap.js -->
  <script type="text/javascript" src="../libs/bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js"></script>
  <!-- файл с кастомными скриптами -->
  <script type="text/javascript" src="../js/scripts.js"></script>
</body>
</html>